<div class="post">

  <mat-card-content>
    <div class="row">
      <div class="col-2">
        <img class="post-person-img" [src]="postComment.pictureUrl">
      </div>
      <div class="col-9 post-info">
        <span class="post-person-name">
          {{postComment.name}}
        </span>
        <span class="post-content">
          {{postComment.content}}
        </span>
      </div>
      <div class="col-1">
        <span *ngIf="postComment.showDeleteButton">
          <mat-icon [matMenuTriggerFor]="menu" style="cursor: pointer;">arrow_drop_down</mat-icon>
          <mat-menu #menu="matMenu" style="width: 200px;">
            <div mat-menu-item (click)="deleteComment()">
              Delete
            </div>
          </mat-menu>
        </span>
      </div>
    </div>
  </mat-card-content>
</div>