<mat-card class="example-card">
  <div class="row">
    <div class="col-12">
      Add members
    </div>
  </div>
   <mat-card-content>
    <input type='text' #search (keyup)="getPeople($event, search)">
    <mat-icon style="position: absolute;">add</mat-icon>
    <div *ngFor='let person of people'>
      <img [src]='person.picture' class="picture"> 
      {{person.name }} <span style="cursor: pointer;" (click)='addPersonToGroup(person)'>Add</span>
    </div>
  </mat-card-content>
</mat-card>  