.group-name {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
}

.type {
    font-weight: 200;
}

.group-tabs {
    width: 100%; 
    background-color:beige;
    margin: 8px 0;
    cursor: pointer;
}

.main-content {
    max-width: 700px;
    margin-top: 20px;
}

.change-pic {
    position: relative;
    bottom: -120px;
    right: 30px;
    cursor: pointer;
    color: white;
}

.group-type-name {
    vertical-align: top;
    margin: auto 0;
    display: inline;
}

.join-group {
    background-color: blue;
    height: 30px;
    max-height: 30px;
    max-width: 150px;
    position: relative;
    bottom: -10px;
    left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.join-group-text {
    margin-bottom: 10px;
    display: inline;
    position: relative;
    bottom: 6px;
    color: white;
}

.leave-group-text {
    color: white;
    margin-left: 10px;
    margin-top: 5px;
}