<mat-card class="post">

  <mat-card-content>
    <div class="row">
      <div class="col-2">
        <img class="post-person-img" [src]="post.pictureUrl">
      </div>
      <div class="col-9">
        <span class="post-person-name">
          {{post.name}}
        </span>
        <br>
        <span class="post-person-date">
          {{post.time | date}}
        </span>
      </div>
      <span *ngIf="true">
        <mat-icon [matMenuTriggerFor]="menu" style="cursor: pointer;">arrow_drop_down</mat-icon>
        <mat-menu #menu="matMenu" style="width: 200px;">
          <div mat-menu-item (click)="deletePost(post)">
            Delete
          </div>
        </mat-menu>
      </span>
    </div>
    <div class="row post-content">
      <div class="col-12">
        {{post.content}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <app-post-comment *ngFor='let postComment of postComments' [postComment]='postComment' (event)="deletePostComment(postComment)">

        </app-post-comment>
      </div>
    </div>
    <div class="row">
      <div class="col-12 reply">
        <div class="row">
          <div class="col-2">
            <img class="reply-pic" [src]="replyPicUrl">
          </div>
          <div class="col-9 reply-box">
            <input class="reply-input-box" type="text" #message placeholder="Write a message" (keyup)="createComment(message, $event)">
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>