.user-picture {
    min-width: 140px;
    min-height: 140px;
    max-width: 140px;
    max-height: 140px;
} 

#user-name {
    font-size: 18px;
    font-weight: bold; 
    margin-left: -50px;
    margin-top: 90px;
    position: absolute;
}

#add-new-pic {
    cursor: pointer;
    margin: 8px 0 auto 107px;
}

#add-pic-holder {
    background-color: white;
    width: 140px;
    height: 40px;
    position: relative;
    bottom: 40px;
    opacity: 1;
}






